#footer{
  background-color: #344B8E;
  padding-bottom: 30px;

  ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    color:white;
    padding-top: 30px;
  }
}

@media only screen and (max-width: $breakpoint-phone) {

#footer{
  ul{
    flex-wrap: wrap;
    //justify-content: flex-start;
    //justify-content: space-around;
    font-size: 20px;
  }

}

}
