#portfolio{
  background-color: #FFDD99;

  .search-buttons{
    text-align: center;
    margin-bottom: 30px;

    button{
      background: rgba(57, 57, 57, 0.15);
      font-size: 18px;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      padding:8px 16px;
      margin-left:10px;

      @include for-phone-only {
        font-size: 14px;
      }
      @include for-tablet-only {
        font-size: 16px;
      }
    }

    button:first-of-type{
      background: white;
    }
  }

  .design-info-cards{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .info-card{
      margin-bottom: 30px;

      img{
        width:541px;
        height:334px;
        object-fit: cover;

        @include for-phone-only {
          width:270px;
          height:160px;
        }
      }

      h3{
        color:#393939;
        text-align: center;
      }
    }
  }
}