#team{
  background-color: #E7F1F8;

  #team-info{
    display: flex;
    justify-content: space-between;

    @include for-phone-only { flex-wrap: wrap; }

    .team-card{
      width:19%;

      @include for-phone-only { width:45%; }
      @include for-tablet-only { width:20%; }

      .gray-circle{
        width:200px;
        height:200px;
        border-radius: 50%;
        background-color: #878787;
        margin: 0px auto;

        @include for-phone-only { 
          width:100px;
          height:100px;
        }

        @include for-tablet-only {
          width:130px;
          height:130px;
        }
        
      }

      h3{
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: $font-size-sub-heading-desktop;

        @include for-phone-only { font-size: $font-size-sub-heading-phone - 1; }
        @include for-tablet-only { font-size: $font-size-sub-heading-tablet - 2; }
      }

      h4{
        text-align: center;
        font-weight: 400;
        color:#30BAE7;
        font-size: $font-size-sub-heading-desktop - 6;

        @include for-phone-only { font-size: $font-size-sub-heading-phone - 3; }
        @include for-tablet-only { font-size: $font-size-sub-heading-tablet - 4; }
      }

      p{
        text-align: center;
        height:150px;

        @include for-phone-only { height:190px; }
        @include for-tablet-only { height:200px; }
      }

      .social-media{

        ul{
          list-style: none;
          display: flex;
          justify-content: space-evenly;

          li{
            background-color: #BDD1DF;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            text-align: center;
            padding-top: 5px;

            .facebook{
              width:8x;
              height:16px;
            }
            .twitter{
              width:17x;
              height:14px;
            }
            .linkedin{
              width:17x;
              height:17px
            }
            .mail{
              width:16x;
              height:13px
            }

          }
        }
      }
    }
  }
}