#team{
  background-color: #E7F1F8;

  #team-info{
    display: flex;
    justify-content: space-between;

    .team-card{
      width:19%;

      .gray-circle{
        width:200px;
        height:200px;
        border-radius: 50%;
        background-color: #878787;
        margin: 0px auto;
      }

      h2{
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
      }

      h3{
        text-align: center;
        font-weight: 400;
        color:#30BAE7;
      }

      p{
        text-align: center;
        height:150px;
      }

      .social-media{

        ul{
          list-style: none;
          display: flex;
          justify-content: space-evenly;

          li{
            background-color: #BDD1DF;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            text-align: center;
            padding-top: 5px;

            .facebook{
              width:8x;
              height:16px;
            }
            .twitter{
              width:17x;
              height:14px;
            }
            .linkedin{
              width:17x;
              height:17px
            }
            .mail{
              width:16x;
              height:13px
            }

          }
        }
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {

#team{
  
  #team-info{
    flex-wrap: wrap;
    
    .team-card{
      width:40%;

      .gray-circle{
        width:100px;
        height:100px;
      }

      h2{
        font-size: 18px;
      }

      h3{
        font-size: 16px;
      }

      p{
        height:170px;
      }
    }
  }
}

} 

@media only screen and (min-width: $breakpoint-phone + 1 ) and (max-width: $breakpoint-desktop){

  #team{
  
    #team-info{
      //flex-wrap: wrap;
      
      .team-card{
        //width:40%;
  
        .gray-circle{
          width:140px;
          height:140px;
        }
  
        // h2{
        //   font-size: 18px;
        // }
  
        // h3{
        //   font-size: 16px;
        // }
  
        // p{
        //   height:170px;
        // }
      }
    }
  }

}