#welcome {
  background-color: #87509C;
  padding-top: 30px;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;

      @include for-phone-only{
        display:none;
      }

      li{
        margin-left: 30px;
        color: white;
      }
    }
  }

  p.welcome_intro{
    color: #F7F3EA;
    width:1200px;
    font-size: $font-size-main-heading-desktop;
    font-weight: 700;
    text-align: center;

    @include for-phone-only{
      width:100%;
      font-size: $font-size-main-heading-phone;
    }
    @include for-tablet-only{
      width:100%;
      font-size: $font-size-main-heading-tablet;
    }

    .break2::after{
      content: "\a";
      white-space: pre;

      @include for-phone-only{
        content: "";
      }
    }
  }
}