#portfolio{
  background-color: #FFDD99;

  h1, p{
    color: #393939;
  }

  p{
    width:650px;
  }

  .search-buttons{
    text-align: center;
    margin-bottom: 30px;

    button{
      background: rgba(57, 57, 57, 0.15);
      font-size: 18px;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      padding:8px 16px;
      margin-left:10px;
    }

    button:first-of-type{
      background: white;
    }
  }

  .design-info-cards{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .info-card{
      margin-bottom: 30px;

      img{
        width:541px;
        height:334px;
        object-fit: cover;
      }

      h3{
        color:#393939;
        text-align: center;
      }
    }
  }

  .btn-wrapper{
    text-align: center;

    .btn{
      @include btn(green);
    }
  }
}