#services{
  background-color: #17C2A4;

  h1{
    color:white;
  }

  > p{
    color: white;
    width:650px;
  }

  #services-info{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;

    .services-card{
      width:20%;

      h2, p{
        color:white;
      }

      h2{
        margin-top:40px;
        text-transform: uppercase;
      }

      p{
        margin-top:20px;
      }
    }
  }
  
}