#skills{
  background-color: white;
  padding-left: $all-sections-padding-left;
  padding-right: $all-sections-padding-right;
  padding-bottom: $all-sections-padding-bottom;

  h1{
    padding-top: $all-sections-padding-top;
    text-align: center;
    font-size: $section-heading-font-size;
  }

  p.message{
    color: #3C4761;
    font-size: 20px;
    text-align: center;
    margin: 0px auto 40px auto;
    width:650px;
  }

  section.charts{
    display: flex; 
    justify-content: space-between; 
    // align-items: center;

    .chart {
      // background-color: green;
      width:160px;

      #chart1 .chart-item-bg { stroke: #ddd }
      #chart1 .chart-item-0 { stroke: #30BAE7}

      #chart2 .chart-item-bg { stroke: #ddd }
      #chart2 .chart-item-0 { stroke: #D74680}

      #chart3 .chart-item-bg { stroke: #ddd }
      #chart3 .chart-item-0 { stroke: #15C7A8}

      #chart4 .chart-item-bg { stroke: #ddd }
      #chart4 .chart-item-0 { stroke: #EB7D4B}
    
      span.percent{
        display: inline-block;
        font-size:42px;
        margin-top: -130px;
        margin-left: 50px;
      }

      span.title{
        display: inline-block;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bolder;
      }

      div.title{
        margin-top: 20px;
        text-align: center;
        color:#3C4761;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bolder;
      }

    }
  }

  
}