#team{
  background-color: #E7F1F8;
  padding-left: $all-sections-padding-left;
  padding-right: $all-sections-padding-right;
  padding-bottom: $all-sections-padding-bottom;

  h1{
    padding-top: $all-sections-padding-top;
    text-align: center;
    font-size: $section-heading-font-size;
  }

  p.message{
    color: #3C4761;  
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
  }

  #team-info{
    display: flex;
    justify-content: space-between;

    .team-card{
      width:19%;

      .gray-circle{
        width:200px;
        height:200px;
        border-radius: 50%;
        background-color: #878787;
      }

      h2{
        margin-top: 20px;
        text-align: center;
      }

      h3{
        text-align: center;
      }

      p{
        text-align: center;
        height:150px;
      }

      .social-media{

        ul{
          list-style: none;
          display: flex;
          justify-content: space-evenly;

          li{
            background-color: #BDD1DF;
            border-radius: 50%;
            //display: table-cell;
            height: 32px;
            width: 32px;
            text-align: center;
            //vertical-align: middle;
            padding-top: 5px;
            //margin-right: 10px;

            .facebook{
              width:8x;
              height:16px;
            }
            .twitter{
              width:17x;
              height:14px;
            }
            .linkedin{
              width:17x;
              height:17px
            }
            .mail{
              width:16x;
              height:13px
            }

          }
        }
      }
    }
  }
}




