#team{
  background-color: #E7F1F8;

  p{
    color: #3C4761;
  }

  #team-info{
    display: flex;
    justify-content: space-between;

    .team-card{
      width:19%;

      .gray-circle{
        width:200px;
        height:200px;
        border-radius: 50%;
        background-color: #878787;
      }

      h2{
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
      }

      h3{
        text-align: center;
        font-weight: 400;
        color:#30BAE7;
      }

      p{
        text-align: center;
        height:150px;
      }

      .social-media{

        ul{
          list-style: none;
          display: flex;
          justify-content: space-evenly;

          li{
            background-color: #BDD1DF;
            border-radius: 50%;
            height: 32px;
            width: 32px;
            text-align: center;
            padding-top: 5px;

            .facebook{
              width:8x;
              height:16px;
            }
            .twitter{
              width:17x;
              height:14px;
            }
            .linkedin{
              width:17x;
              height:17px
            }
            .mail{
              width:16x;
              height:13px
            }

          }
        }
      }
    }
  }
}




