#testimonials{
  background-color: #D74680;
  padding-left: $all-sections-padding-left;
  padding-right: $all-sections-padding-right;
  padding-bottom: $all-sections-padding-bottom;

  h1{
    padding-top: $all-sections-padding-top;
    text-align: center;
    color: white;
    font-size: $section-heading-font-size;
  }

  p.message{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0px auto 40px auto;
  }

  .client-cards{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card{
      margin-bottom: 30px;

      .card-left{
        width:96px;
        height:200px;
        float:left;

        .circle{
          width:96px;
          height:96px;
          border-radius: 50%;
          background-color: #787878;
        }
      }

      .card-right{
        width:500px;
        height:200px;
        padding-left: 116px;

        p{
          color:white;
          padding-bottom: 15px;
        }

        h2{
          color:white;
        }

        h3{
          color:#FFDD99;
        }
      }
      
    }
  }
}