#testimonials{
  background-color: #D74680;

  h1, p{
    color: white;
  }

  .client-cards{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card{
      margin-bottom: 30px;

      .card-left{
        width:96px;
        height:200px;
        float:left;

        .circle{
          width:96px;
          height:96px;
          border-radius: 50%;
          background-color: #787878;
        }
      }

      .card-right{
        width:500px;
        height:200px;
        padding-left: 150px;

        p{
          color:white;
          padding-bottom: 15px;
          font-size: 22px;
          font-style: italic;
        }

        h2{
          color:white;
          text-transform: uppercase;
        }

        h3{
          color:#FFDD99;
        }
      }
      
    }
  }
}