#welcome {
  background-color: #87509C;
  padding-top: 30px;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;

      li{
        margin-left: 30px;
        color: white;
      }
    }
  }

  p.welcome_intro{
    color: #F7F3EA;
    width:1200px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;

    .break2::after{
      content: "\a";
      white-space: pre;
    }
  }
}

@media only screen and (max-width: $breakpoint-phone) {

  #welcome{
    nav{
      display:initial;

      ul{
        display:none;
      }
    }

    p.welcome_intro{
      width:100%;
      font-size: 24px;

      .break2::after{
        content: "";
        white-space: pre;
      }

      .break1::after,
      .break3::after{
        content: "\a";
        white-space: pre;
      }
    }
  }
} 