
#welcome {
  background-color: #87509C;
  padding-top: 30px;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style-type: none;

      li{
        margin-left: 30px;
        color: white;
      }
    }
  }

  p{
    color: #F7F3EA;  
    margin: $all-sections-padding-top auto 0 auto;
    width:1200px;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
  }

  .btn-wrapper { 
    text-align: center;
    
    .btn {
      @include btn(orange);
    }
  }
}